<div class="form-group">
	<a href="{{ actionpanel.downloadUrl() }}" class="btn btn-sm btn-primary" target="_blank">
		<i class="fa fa-table" aria-hidden="true"></i> Download
	</a>
</div>
<div class="form-group">
	{% include 'activity/user-actions/report/call/form.twig' %}
</div>
{% include 'activity/user-actions/report/call/list.twig' %}
